
.daily-quest-pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
  position: fixed;
  left: 0;
  top: 86px;
  width: 100%;
  height: calc(100vh - 86px);
  padding: 50px;
  background-color: var(--color-bg-secondary);




  &__list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-top: 60px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 80px;
    border: 3px solid var(--color-text-primary);
    border-radius: var(--border-radius);
    cursor: pointer;

    @include hover {
      border-color: var(--color-accent-grean);
    }

    &.is-active {
      border-color: var(--color-accent-purple);
    }
  }
}