
.button {
  padding: 5px 10px;
  border: 2px solid var(--color-text-primary);
  border-radius: var(--border-radius);
  color: var(--color-text-primary);
  box-shadow: var(--shadow-button);
  background-color: var(--color-bg-secondary);
  transition-duration: var(--transition-duration-longer);

  @include hover {
    background-color: var(--color-bg-tertiary);
    border-color: var(--color-accent-grean);
    color: var(--color-accent-grean);
    box-shadow: var(--shadow-button-hover);
  }

  &--wide {
    flex-grow: 1;
    min-width: 175px;
  }
}