
.daily-quest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-top: 80px;

  &__choose {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }


  &__list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
  }

  &__item {
    width: 250px;
    height: 54px;
    padding: 10px 20px;
    text-align: center;
    border: 3px solid var(--color-text-primary);
    border-radius: var(--border-radius);
    cursor: pointer;

    @include hover {
      border-color: var(--color-accent-grean);
    }

    &.is-active {
      border-color: var(--color-accent-purple);
      background-color: var(--color-bg-tertiary);
    }
   }
}