
.theme-change-button {
  @include square(40px);

  position: relative;
  border: var(--border-black);
  border-radius: 50%;
  opacity: 0.6;
  background: transparent;
  overflow: hidden;
  transition: all 0.2s ease-in-out;

  @include hover {
    opacity: 1;
    cursor: pointer;
  }

  &:active {
    opacity: 1;
    transform: scale(95%);
  }

  &__icon {
    position: absolute;
    top: 100%;
    transform: translate(0, 0) rotate(-100deg);
    transition: all 0.8s;

    &-light {
      left: 100%;

      &.is-active {
        transform: translate(-48%, -46%) rotate(0deg);
        top: 50%;
        left: 50%;
      }
    }

    &-dark {
      right: -100%;

      &.is-active {
        transform: translate(50%, -48%) rotate(0deg);
        top: 50%;
        right: 50%;
      }
    }
  }

  &__img {
    &-sun {
      @include square(36px);

      filter: invert(51%) sepia(60%) saturate(593%) hue-rotate(198deg) brightness(102%) contrast(94%);

    }

    &-moon {
      @include square(36px);

      filter: invert(51%) sepia(60%) saturate(593%) hue-rotate(198deg) brightness(102%) contrast(94%);

    }
  }
}