
.hp-bar {
  --currentHp: 0;

  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;

  &__health {
    position: relative;
    width: 100%;
    &-all {
      width: 100%;
      height: 12px;
      background-color: var(--color-text-tertiary);
      border: var(--border-black);

      border-radius: var(--border-radius);
    }

    &-current {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(var(--currentHp) * 1%);
      height: 12px;
      background-color: red;
      border: var(--border-black);
      border-radius: var(--border-radius);
      z-index: 3;
    }
  }

  &__numbers {
    margin: 0 auto;
  }
}