html.is-lock {
  body {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);
  display: flex;
  flex-direction: column;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
  font-family: var(--font-famaly-text);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--text-accent);
  font-family: var(--font-famaly-heders-main);
}

.h1-second,
.h2-second,
.h3-second,
.h4-second,
.h5-second,
.h6-second {
  font-family: var(--font-famaly-heders-second);
}


a {
  color: inherit;

  @include hover {
    color: var(--color-accent-grean);
  }

  &[class] {
    text-decoration: none;
  }
}