
.pop-up-boss-kill {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  row-gap: 40px;
  height: 500px;
  background-color: var(--color-bg-primary);
  border: var(--border-black);
  border-radius: var(--border-radius);
  z-index: 1000;


  &__body {
    display: grid;
    row-gap: 9px;
    text-align: center;
  }

  &__title {
    font-size: fluid(35, 20);
  }

  &__text {
    font-size: fluid(20, 15);
  }

  &__buttons {
    display: flex;
    column-gap: 15px;
  }
}