
.complete-stats {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 15px 35px;
  max-width: 480px;


  background-color: var(--color-bg-secondary);
  border: var(--border-black);
  border-radius: var(--border-radius);

  &__title {
    text-align: center;
    font-family: var(--font-famaly-heders-second);
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    padding: 8px 20px;
    background-color: var(--color-bg-tertiary);
    border: var(--border-black);
    border-radius: var(--border-radius);

    &-name {

    }

    &-number {
      color: var(--color-accent-grean);
      font-size: fluid(22, 17);
      text-align: center;
    }
  }
}